body {
    background-color: #009688;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}

form {
    background-color: #fff;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 50px;
}

label {
    display: block;
    margin-top: 10px;
    text-align: left;
    color: black;
}

input[type="text"],
input[type="number"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #009688;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Style the "Choose Image" button */
.custom-file-upload {
    background-color: #009688;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    display: inline-block;
}

input[type="file"] {
    display: none;
}

.custom-file-upload:hover {
    background-color: #007a6c;
}

input[type="submit"] {
    background-color: #009688;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: #007a6c;
}

.image-preview {
    max-width: 100%;
    height: auto;
}


/* Header Styles */
header, header {
    background-color: #009688;
    color: #ffffff;
    padding: 20px;
    text-align: center;
  }
  
  .logo img {
    width: 150px;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
  }
  
  nav a:hover {
    text-decoration: underline;
  }

  
/* Footer Styles */
footer, footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 600px) {
    .container, main {
        padding: 10px;
    }
  }
  