
body {
    font-family: Arial, sans-serif;
    background-color: #009688;
    color: #fff;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    font-size: 20px;
}


header {
    background-color: #009688;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

.logo img {
    width: 150px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}


.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 4px;
    margin-top: 50px;
}

.search-form {
    display: flex;
    margin-bottom: 20px;
}

.search-form input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.search-form select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.search-form button {
    background-color: #009688;
    color: #ffffff;
    border: none;
    padding: 10px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.search-results {
    list-style-type: none;
    padding: 0;
}




a {
    text-decoration: none;
    color: black;
}

ul.pager {
    list-style-type: none;
    margin: 0 auto; 
    padding: 0;
    text-align: center; 
  }
  
  ul.pager li {
    display: inline-block;
    margin-right: 5px; 
  }
  
  ul.pager li a.active_link {
    color: #fff;
    background-color: #009688; 
    padding: 5px 10px; 
    border-radius: 5px;
    text-decoration: none;
  }
  
  ul.pager li a {
    color: #007bff;
    text-decoration: none;
    padding: 5px 10px; 
    border: 1px solid #007bff; 
    border-radius: 5px; 
  }
  
  ul.pager li a:hover {
    background-color: #026d62; 
  }
  

.product-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    border: 3px solid #009688;
    border-radius: 10px;
    background-color: #ececec;

}

.product-container {
    display: flex;
    align-items: center;
}

.product-image {
    width: 25%;
    border: 3px solid;
    border-radius: 10px;
    margin-right: 10px;
    margin: 10px;
}

.product-item {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start */
    align-self: flex-start; /* Align self to the start */
}

.product-name {
    font-weight: bold; /* Optional */
    margin-top: 15px; /* Optional */
    color: black;
}

.product-price {
    color: #009688;
}
