
body {
    font-family: Arial, sans-serif;
    background-color: #009688;
    color: #fff;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    font-size: 20px;
}


header {
    background-color: #009688;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

.logo img {
    width: 150px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}


.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 4px;
    margin-top: 50px;
}

.search-form {
    display: flex;
    margin-bottom: 20px;
}

.search-form input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.search-form select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.search-form button {
    background-color: #009688;
    color: #ffffff;
    border: none;
    padding: 10px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.search-results {
    list-style-type: none;
    padding: 0;
}

.search-results li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 4px;
}

.search-results li span.product-name {
    font-weight: bold;
}

.search-results li span.product-price {
    font-weight: bold;
    color: #009688;
}

.search-results li img.product-image {
    max-width: 100px;
    max-height: 100px;
    margin-right: 10px;
    border-radius: 5px;
}

.search-results li p.product-description {
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

a {
    text-decoration: none;
    color: black;
}